

body{
    max-width: 1270px;
    margin: 0 auto;
background-color: rgb(248, 248, 231);
}

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    padding: 20px;
    font-size: 1.25em;
    gap: 50px;
}

.hero-container button{
    padding: 10px 25px;
    font-size: 1.15em;
    font-weight: bold;
    background-color: #ff7b00;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.hero-container img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

