
nav li{
    list-style: none;
    display: inline;
    margin-right: 15px;
}
nav li:hover{
    background-color: aqua;
}
nav li a{
    text-decoration: none;
}
form{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(227, 234, 243);
    padding: 10px;
    /* border-radius: 10px; */
    border-color: black;
}
form .basic-info label {
            display: block;
            margin-top: 10px;
        
        }
footer{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: lightgray;

}
